{% extends "kontakti/base.html" %}

{% block title %}Kontakti sa pacijentima{% endblock %}

{% block content %}
<br>
<div>

  <h1>Novi kontakt</h1>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-secondary">Dodaj</button>
  </form>


</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('id_reserved_for').addEventListener('change', function () {
      var selectedDate = new Date(this.value);
      if (selectedDate.getDay() !== 1) {
        alert('Please note that reservations should be made for Mondays.');
      }
    });
  });
</script>

{% endblock %}
