{% extends "kontakti/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}


<div class="col-md-6 offset-md-3 border p-4 mt-4 mb-4 bg-body-tertiary">
  <h1>Login</h1>

  <form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <input type="text" name="username" class="form-control" placeholder="Username" required>
    </div>
    <div class="mb-3">
      <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-secondary">Login</button>
  </form>

</div>

{% endblock%}
