{% extends "kontakti/base.html" %}

{% block title %}Kontakti sa pacijentima{% endblock %}

{% block content %}

<div class="container mt-3">

  {% if contacts %}

  <h4>Kontakti: &NonBreakingSpace; <a class="btn btn-secondary" href="{% url 'add_contact' patient.id %}">Novi kontakt</a></h4>
  <table class="table table-striped table-bordered table-responsive-sm">
    <tr class="table-success">
      <th>Kontaktirao/la pacijenta</th>
      <th>Vreme kontakta</th>
      <th>Zakazano za</th>
      <th>Napomena</th>
    </tr>
    {% for contact in contacts %}
    <tr>
      <td>{{ contact.user.first_name }} {{ contact.user.last_name }} (<strong>{{ contact.user.username }}</strong>)
      </td>
      <td>{{ contact.created_at|date:"d.m.Y H:i" }}</td>
      <td>{{ contact.reserved_for }}</td>
      <td>{{ contact.note }}</td>
    </tr>


    {% endfor %}
  </table>
  {% else %}
  <p>
    <a class="btn btn-secondary" href="{% url 'add_contact' patient.id %}">Novi kontakt</a>
  </p>
  {% endif %}

  <hr>

  <table class="table">
    <tr>
      <td>
        <h5>Pacijent</h5>
      </td>
      <td>{{ patient.first_name }} {{ patient.last_name }}</td>
    </tr>
    <tr>
      <td>
        <h5>Datum rođenja (starost)</h5>
      </td>
      <td>{{ patient.date_of_birth|date:"d.m.Y" }}
        {% if patient.age %}
        ({% if patient.age.0 != 0 %}
        <strong>{{ patient.age.1 }}god.</strong>
        {% endif %}
        {% if patient.age.1 != 0 %}
        <strong>{{ patient.age.0 }}mes.</strong>
        {% endif %})
        {% endif %}

      </td>
    </tr>
    <tr>
      <td>
        <h5>JMBG</h5>
      </td>
      <td>{{ patient.jmbg }}</td>
    </tr>
    <td>
      <h5>doctor</h5>
    </td>
    <td>{{ patient.doctor }}</td>
    </tr>
    <tr>
      <td>
        <h5>Dijagnoza</h5>
      </td>
      <td>{{ patient.diagnose }}</td>
    </tr>
    <tr>
      <td>
        <h5>Anestezija</h5>
      </td>
      <td>
        {% if patient.anestezija == True %}
        opšta
        {% else %}
        lokalna
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        <h5>Grad</h5>
      </td>
      <td>{{ patient.city }}</td>
    </tr>
    <tr>
      <td>
        <h5>Država</h5>
      </td>
      <td>{{ patient.state }}</td>
    </tr>
    <tr>
      <td>
        <h5>Telefon br.</h5>
      </td>
      <td>{{ patient.phone }}</td>
    </tr>
    <tr>
      <td>
        <h5>Pol</h5>
      </td>
      <td> {% if patient.gender == True %}
        muški
        {% else %}
        ženski
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        <h5>Datum prijave</h5>
      </td>
      <td>{{ patient.prijavljen|date:"d.m.Y" }}</td>
    </tr>
    <tr>
      <td>
        <h5>Napomena</h5>
      </td>
      <td>{{ patient.note }}</td>
    </tr>
  </table>

  <p>
    <a class="btn btn-secondary" href="{% url 'edit_patient' patient.id %}">Promeni</a>
    <a class="btn btn-danger" href="{% url 'delete_patient' patient.id %}" onclick="return confirm('Da li ste sigurni da želite da izbrišete pacijenta {{ patient }}?');">Izbriši</a>
  </p>




</div>
{% endblock %}
